<h1>What Gives?</h1>
<br/>
<h2>Who Gives?</h2>
<br/>
<h3>Hopefully they do!</h3>
<br/>
<p>Track your donors better</p>
<br/>
<%= link_to "View and manage your contacts", contacts_path %>
<ul>
	<li>Log in and log out</li>
	<li>View and search list of contacts</li>
	<li>Add and edit contacts</li>
	<li>Add interactions to conatcts</li>
	<li>Add donations to contacts</li>
	<li>Add tags to users</li>
	<li>Search for contacts by users and tags</li>
</ul>
