<body class="homebg">

<div class="page-header">
  <h1>What Gives?<small> Who Gives?</small></h1>
</div>

<br/>

<div class="row">
  <div class="col-md-4">
  	<div class="text">
  		<p><b>View and manage who gives</b></p>
  	</div>	
  	<%= link_to "Contacts", contacts_path, class: "btn btn-primary"%>
  </div>
  <div class="col-md-4">
  	<div class="text">
  		<p><b>How much have they gave?</b></p>
  	</div>
  	<button class="btn btn-primary"><%= Donation.total_donations %></button>
  </div>
  <div class="col-md-4"><p></p></div>
</div>
</body>