<body class="homebg">

</body>
<h1 class="col-lg-12">What Gives?</h1>
<br/>
<h2>Who Gives?</h2>
<br/>
<h3>Hopefully they do!</h3>
<br/>
<p>Track your donors better</p>
<br/>
<div class="text">
	<%= link_to "View and manage your contacts", contacts_path %>
</div>
<br/>
<br><br>

<div class="row">
  <div class="col-md-4"><button class="btn btn-primary"><%= link_to "Contacts", contacts_path %></button></div>
  <div class="col-md-4"><p>Total Donations</p><button class="btn btn-primary"><%= Donation.total_donations %></button></div>
  <div class="col-md-4"><p>Something else here</p></div>
</div>